  <nav class="sidebar">
      <form [formGroup]="imageForm" class="form">
          <div class="form-group">
            <label for="url">Input Image</label>
            <input type="text" 
                   class="form-control" 
                   id="url" 
                   required 
                   name="url"
                   formControlName="imageURL">
          </div>
          <div>
            <label for="cameraNumber">Camera Number</label>
            <select class="form-control" 
                    id="cameraNumber" 
                    formControlName="selectedCam"
                    required>
              <option *ngFor="let cam of camNum" [value]="cam">{{cam}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
        </form>
        <div *ngIf="displayData === true"class="pic">
          Image:
        <img height="100%"  src={{camService.camData.imageURL}} style="border-radius: 8px">
        </div>
        <div *ngIf="displayData === true" class="pic">
          Location:<br/>
          Lat:{{camService.camData.selectedCam.location.lat}}<br/>
          Long: {{camService.camData.selectedCam.location.lng}}
        </div>
  </nav>


